.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  z-index: 1;
  filter: blur(em(40));

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: rotate-with-scale 75s infinite linear;
  }

  &__decor {
    position: absolute;

    &--red {
      width: em(1440);
      height: em(800);
      left: 0;
      bottom: 0;
      //color: var(--accent-theme-color, #535AF3);
    }

    &--blue {
      width: em(875);
      height: em(800);
      left: 0;
      top: 0;
      //color: var(--accent-theme-color, #535AF3);
    }

  }
}
