.content-container {
  display: flex;
  flex-direction: column;

  &--small {
    background-color: $colorWhite;
    border-radius: em($radius5);
  }

  &--big {
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

}
