.app-in-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  $parent: &;

  &:hover {
    #{$parent} {
      &__options-button {
        opacity: 1;
      }
    }
  }

  &__container {
    display: flex;
  }

  &__icon {
    width: em(48);
    height: em(48);
    margin-right: em(16);
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__name {
    @include MEDIUM-18-24
  }

  &__description {
    @include MEDIUM-14-18;
    color: $colorAccent;
  }

  &__options-button {
    width: em(8);
    height: em(32);
    color: $colorAccent;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
