.apps-icons {
  position: relative;
  width: fit-content;
  height: em(64);

  &__icons-container {
    position: absolute;
    width: em(32);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;

    &--upper {
      top: 0;
    }

    &--lower {
      top: 15px;
    }
  }

  &__icon {
    width: em(13);
    height: em(13);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: em(3);

    &--rhombus {
      width: em(16);
      height: em(16);
      margin-right: 1px;
      margin-left: -1px;
    }
  }
}
