.drag-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: em(8) em(12);
  // background-color: $colorBackgroundWhite;
  border-radius: em($radius6);
  //backdrop-filter: $backdrop-blur;
  // border: 1px solid $colorWhite;
  $parent: &;

  &--dark {
    border: 1px solid $colorWhite;
    background-color: $colorBackgroundDark;
    color: $colorWhite;

    #{$parent} {
      &__button {
        &--display {
          color: $colorAccentLight;
        }

        &--hide {
          color: $colorGreenLight;
        }

        &--close {
          color: $colorRedLight;
        }
      }
    }
  }

  &--light {
    border: 1px solid $colorWhite;
    background-color: $colorBackgroundWhite;
    color: $colorBlack;

    #{$parent} {
      &__button {
        &--display {
          color: $colorAccent;
        }

        &--hide {
          color: $colorGreen;
        }

        &--close {
          color: $colorRed;
        }
      }
    }
  }

  &__app-name {
    @include MEDIUM-18-24;
  }

  &__buttons-container {
    display: flex;
    align-items: center;
  }

  &__button {
    width: em(24);
    height: em(24);
    cursor: pointer;

    &:not(:last-child) {
      margin-right: em(14);
    }

    &--display {
      width: em(16);
      height: em(16);
    }

    &--hide {
      transform: rotate(180deg);
    }

    &--close {}
  }
}
