.task-bar-tools {
  display: flex;
  align-items: center;

  &__notifications-container {
    display: flex;
    align-items: center;
  }

  &__tool {
    width: em(24);
    height: em(24);
    cursor: pointer;

    &--sound {
      margin-right: em(16);
    }

    &--arrow {
    }
  }

  &__arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: em(7);
  }

  &__notifications-amount {
    @include BOLD-18-24;
  }
}
