.comp {
  width: 100vw;
  height: 100vh;
  background-color: $colorBackground;
  display: flex;
  align-items: center;
  justify-content: center;

  &__skill {
    width: em(395);
    height: em(352);
  }
}
