.home {
  width: 100%;
  height: 100vh;
  background-color: $colorBackground;
  overflow: hidden;
  z-index: 5;
  padding: em(12);

  &__container {
    width: 100%;
    height: 100%;
  }

  &__task-bar {
    position: absolute;
    bottom: em(12);
    left: em(12);
    right: em(12);
    z-index: 1000;
  }

  &__notification {
    width: em(400);
    position: absolute;
    bottom: em(80);
    right: em(12);
    z-index: 2000;
  }

  &__apps-list {
    width: em(400);
    position: absolute;
    bottom: em(80);
    left: em(12);
    z-index: 2000;
  }

  &__app {
    position: absolute;
    top: 0;
    left: 0;
    width: em(715);
    z-index: 10;
  }

  &__button-check {
    position: relative;
    z-index: 3000;
  }
}
