.icon-card {
  padding: em(16);
  justify-content: space-between;
  $parent: &;

  &__icon-container {
    width: em(52);
    height: em(52);
    background-color: $colorAccent;
    display: flex;
    align-items: center;
    justify-content: center;

    &--ellipse {
      border-radius: em(40);
    }

    &--rectangle {
      border-radius: em($radius5);
    }

    &--rhombus {
      width: em(42);
      height: em(42);
      transform: rotate(45deg);
      border-radius: em($radius5);
      margin: em(5) 0 0 em(5);

      #{$parent} {
        &__icon {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__icon {
    width: em(24);
    height: em(24);
    color: white;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
  }

  &__header {
    @include MEDIUM-14-18;
    color: $colorAccent;

    &--dark {
      color: $colorBlack;
    }
  }
}
