.skill-card {
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: em($radius5);
  padding: em(20) 0;
  overflow: hidden;

  &__header {
    width: 100%;
    color: $colorBlack;
    @include BOLD-24-36;
    padding: 0 0 em(12, 24) em(20, 24);
  }

  &__running-line {
    width: 100%;
    margin-left: em(-8);
    margin-bottom: em(32);
  }

  &__description {
    width: 100%;
    color: $colorAccent;
    @include MEDIUM-14-18;
    margin: 0;
    padding: 0 em(20, 14);
  }
}
