.apps-list {
  display: flex;
  flex-direction: column;
  padding: em(48) em(20) em(44) em(40);
  background-color: $colorBackgroundWhite;
  border-radius: em($radius6);
  //backdrop-filter: $backdrop-blur;
  border: 1px solid $colorWhite;
  height: fit-content;
  overflow: hidden;
  visibility: hidden;
  transform: scale(0.1);
  opacity: 0;

  &--open {
    //max-height: em(520);
    visibility: visible;
    opacity: 1;
  }

  &__header {
    @include BOLD-24-36;
    margin-bottom: em(36, 24);
  }

  &__apps-container {
    display: flex;
    flex-direction: column;
  }

  &__app {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: em(32);
    }
  }
}
