.notification {
  display: flex;
  justify-content: space-between;
  background-color: $colorBackgroundWhite;
  border-radius: em($radius6);
  padding: em(12) em(12) em(22);
  cursor: pointer;
  //backdrop-filter: $backdrop-blur;
  border: 1px solid $colorWhite;
  height: fit-content;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;

  &--open {
    opacity: 1;
    max-height: em(150);
  }

  &__icon {
    width: em(48);
    height: em(48);
    margin-right: em(16);
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: em(304);
  }

  &__header {
    @include BOLD-18-24;
    margin-bottom: em(8, 18);
  }

  &__text {
    color: $colorAccent;
    @include MEDIUM-14-18;
  }

  &__close-button {
    width: em(24);
    height: em(24);
    color: $colorRed;
    margin: em(-6) em(-6) 0 0;
  }
}
