.preloader {

  &__image-blur {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      backdrop-filter: blur(em(70));
    }
  }

  &__image {
    transition: opacity 0.25s, visibility 0.25s, max-height 0.25s;
    width: 100%;
    height: 100%;

    &--loader {
      width: 100%;
    }

    &--hidden {
      visibility: hidden;
      opacity: 0;
      max-height: 0;
    }
  }
}
