.running-line {
  display: flex;

  &__column {
    display: flex;
    flex-direction: column-reverse;
  }

  &__rect {
    width: em(24);
    height: em(24);
    background-color: rgba(255, 255, 255, 0.25);
    margin-right: em(8);
    margin-bottom: em(8);
    border-radius: em($radius5);

    &--active {
      background-color: white;
    }
  }
}
