.running-apps {
  display: flex;
  position: relative;

  &__app {
    opacity: 0;
    visibility: hidden;
    margin-right: em(6);
    margin-left: em(6);
    position: absolute;
  }

  &__icon-container {
    width: em(36);
    height: em(36);
    cursor: pointer;
    transition: 0.25s;

    &--minimized {
      opacity: 0.5;
    }

    &:hover {
      opacity: 1;
      transform: translateY(-10%);
    }
  }



}
