.task-bar {
  background-color: $colorBackgroundWhite;
  border-radius: em($radius6);
  padding: em(12);
  // backdrop-filter: $backdrop-blur;
  border: 1px solid $colorWhite;
  height: em(56);

  &__apps-button {
    position: absolute;
    left: 12px;
    width: em(40);
    height: em(32);
    cursor: pointer;
    color: $colorAccent;
  }

  &__running-apps {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    height: 36px;
  }

  &__tools {
    position: absolute;
    right: 12px;
    top: 16px;
    height: em(24);
    color: $colorAccent;
  }
}
