@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-with-scale {
  0% {
    transform: rotate(0) scale(1.1);
  }

  25% {
    transform: rotate(90deg) scale(1.0);
  }

  50% {
    transform: rotate(180deg) scale(1.2);
  }

  75% {
    transform: rotate(270deg) scale(1.6);
  }

  100% {
    transform: rotate(360deg) scale(1.3);
  }
}
