@use "sass:math";
@import "variables";
@import "mixins";

@mixin typography($name, $typography) {
  $styles: map-get($typography, $name);

  font-size: em(map-get($styles, font-size));
  line-height: map-get($styles, line-height) / map-get($styles, font-size);
  font-weight: map-get($styles, font-weight);
  letter-spacing: #{map-get($styles, letter-spacing)}em;
  $fontStyles: map_get($styles, font-style);

  @if ($fontStyles) {
    font-style: $fontStyles;
  }
}

$desktop-typography: (
        MEDIUM-14-18:
        (
                font-size: 14,
                font-weight: 500,
                line-height: 18,
                letter-spacing: 0,
        ),
        MEDIUM-16-20:
        (
                font-size: 16,
                font-weight: 500,
                line-height: 20,
                letter-spacing: 0,
        ),
        LIGHT-18-24:
        (
                font-size: 18,
                font-weight: 300,
                line-height: 24,
                letter-spacing: 0,
        ),
        MEDIUM-18-24:
        (
                font-size: 18,
                font-weight: 500,
                line-height: 24,
                letter-spacing: 0,
        ),
        BOLD-18-24:
        (
                font-size: 18,
                font-weight: 700,
                line-height: 24,
                letter-spacing: 0,
        ),
        ITALIC-SBOLD-20-24:
        (
                font-size: 20,
                font-weight: 500,
                line-height: 24,
                letter-spacing: 0,
                font-style: italic,
        ),
        ITALIC-LIGHT-20-24:
        (
                font-size: 20,
                font-weight: 300,
                line-height: 24,
                letter-spacing: 0,
                font-style: italic,
        ),
        MEDIUM-20-24:
        (
                font-size: 20,
                font-weight: 500,
                line-height: 24,
                letter-spacing: 0,
        ),
        SBOLD-36-48:
        (
                font-size: 36,
                font-weight: 600,
                line-height: 48,
                letter-spacing: 0,
        ),
        ITALIC-LIGHT-48-64:
        (
                font-size: 48,
                font-weight: 300,
                line-height: 64,
                letter-spacing: 0,
                font-style: italic,
        ),
        BOLD-48-72:
        (
                font-size: 48,
                font-weight: 700,
                line-height: 72,
                letter-spacing: 0,
        ),
        BOLD-64-80:
        (
                font-size: 64,
                font-weight: 700,
                line-height: 80,
                letter-spacing: 0,
        ),
        ELIGHT-72-104:
        (
                font-size: 72,
                font-weight: 200,
                line-height: 104,
                letter-spacing: 0,
        ),
        LIGHT-36-48:
        (
                font-size: 36,
                font-weight: 300,
                line-height: 48,
                letter-spacing: 0,
        ),
        ITALIC-LIGHT-40-48:
        (
                font-size: 40,
                font-weight: 300,
                line-height: 48,
                letter-spacing: 0,
                font-style: italic,
        ),
        ITALIC-MEDIUM-16-20:
        (
                font-size: 16,
                font-weight: 300,
                line-height: 20,
                letter-spacing: 0,
                font-style: italic,
        ),
        LIGHT-22-30:
        (
                font-size: 22,
                font-weight: 300,
                line-height: 30,
                letter-spacing: 0,
        ),
        ITALIC-LIGHT-28-36:
        (
                font-size: 28,
                font-weight: 300,
                line-height: 36,
                letter-spacing: 0,
                font-style: italic,
        ),
        MEDIUM-12-18:
        (
                font-size: 12,
                font-weight: 500,
                line-height: 18,
                letter-spacing: 0,
        ),
        ITALIC-MEDIUM-14-18:
        (
                font-size: 14,
                font-weight: 500,
                line-height: 18,
                letter-spacing: 0,
                font-style: italic,
        ),
);

$mobile-typography: (
        LIGHT-28-36:
        (
                font-size: 28,
                font-weight: 300,
                line-height: 36,
                letter-spacing: 0,
        ),
        ITALIC-LIGHT-36-48:
        (
                font-size: 36,
                font-weight: 300,
                line-height: 48,
                letter-spacing: 0,
                font-style: italic,
        ),
        BOLD-36-48:
        (
                font-size: 36,
                font-weight: 700,
                line-height: 48,
                letter-spacing: 0,
        ),
        BOLD-24-36:
        (
                font-size: 24,
                font-weight: 700,
                line-height: 36,
                letter-spacing: 0,
        ),
);

@each $label, $map in $desktop-typography {
  .#{$label} {
    @include typography($label, $desktop-typography);
  }
}

@mixin MEDIUM-14-18 {
  @include typography('MEDIUM-14-18', $desktop-typography);
}

@mixin MEDIUM-16-20 {
  @include typography('MEDIUM-16-20', $desktop-typography);
}

@mixin LIGHT-18-24 {
  @include typography('LIGHT-18-24', $desktop-typography);
}

@mixin MEDIUM-18-24 {
  @include typography('MEDIUM-18-24', $desktop-typography);
}

@mixin BOLD-18-24 {
  @include typography('BOLD-18-24', $desktop-typography);
}

@mixin ITALIC-SBOLD-20-24 {
  @include typography('ITALIC-SBOLD-20-24', $desktop-typography);
}

@mixin ITALIC-LIGHT-20-24 {
  @include typography('ITALIC-LIGHT-20-24', $desktop-typography);
}

@mixin MEDIUM-20-24 {
  @include typography('MEDIUM-20-24', $desktop-typography);
}

@mixin SBOLD-36-48 {
  @include typography('SBOLD-36-48', $desktop-typography);
}

@mixin ITALIC-LIGHT-48-64 {
  @include typography('ITALIC-LIGHT-48-64', $desktop-typography);
}

@mixin BOLD-48-72 {
  @include typography('BOLD-48-72', $desktop-typography);
}

@mixin BOLD-64-80 {
  @include typography('BOLD-64-80', $desktop-typography);
}

@mixin ELIGHT-72-104 {
  @include typography('ELIGHT-72-104', $desktop-typography);
}

@mixin LIGHT-36-48 {
  @include typography('LIGHT-36-48', $desktop-typography);
}

@mixin ITALIC-LIGHT-40-48 {
  @include typography('ITALIC-LIGHT-40-48', $desktop-typography);
}

@mixin ITALIC-MEDIUM-16-20 {
  @include typography('ITALIC-MEDIUM-16-20', $desktop-typography);
}

@mixin LIGHT-22-30 {
  @include typography('LIGHT-22-30', $desktop-typography);
}

@mixin ITALIC-LIGHT-28-36 {
  @include typography('ITALIC-LIGHT-28-36', $desktop-typography);
}
@mixin MEDIUM-12-18 {
  @include typography('MEDIUM-12-18', $desktop-typography);
}

@mixin ITALIC-MEDIUM-14-18 {
  @include typography('ITALIC-MEDIUM-14-18', $desktop-typography);
}

//mobile
@mixin LIGHT-28-36 {
  @include typography('LIGHT-28-36', $mobile-typography);
}

@mixin ITALIC-LIGHT-36-48 {
  @include typography('ITALIC-LIGHT-36-48', $mobile-typography);
}

@mixin BOLD-36-48 {
  @include typography('BOLD-36-48', $mobile-typography);
}

@mixin BOLD-24-36 {
  @include typography('BOLD-24-36', $mobile-typography);
}
