$colorBlack: #33023C;
$colorAccent: #7A4882;
$colorWhite: #ffffff;
$colorRed: #C54700;
$colorGreen: #00784D;
$colorBackground: #FFB0F7;
//$colorBackgroundWhite: rgba(255, 255, 255, 0.7);
$colorBackgroundWhite: rgb(242 231 249);
$colorBackgroundDark: rgb(0 0 0);
$colorGradientDarkBlue: radial-gradient(114.13% 219.13% at 94.27% 11.82%, #040244 0%, #010114 100%);
$colorAccentLight: #bb7ac6;
$colorGreenLight: #3eaa83;
$colorRedLight: #d27f51;

$borderGray: 1px solid #EFEFEF;

$radius6: 6;
$radius5: 5;
$radius3: 3;

$backdrop-blur: blur(em(10));

$desktopWidth: 1440px;
$mobileWidth: 768px;
$defaultMobileWidth: 375px;

$fontFamily: Poppins;
$fallBachFont: sans-serif;

$fontSize: 16;
