.app-window {
  display: flex;
  flex-direction: column;
  $parent: &;

  &--dark {
    #{$parent} {
      &__app-container {
        background-color: $colorBackgroundDark;
        border: 1px solid $colorWhite;
      }
    }
  }

  &--light {
    #{$parent} {
      &__app-container {
        background-color: $colorBackgroundWhite;
        border: 1px solid $colorWhite;
      }
    }
  }

  &--full-screen {
    width: calc(100% - 24px);
    height: calc(100vh - 92px);
  }

  &--minimized {
    display: none;
  }

  &__drag-bar {
    width: 100%;
    margin-bottom: em(12);
  }

  &__app-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: calc(100% - 52px);
    padding: em(12);
    // background-color: $colorBackgroundWhite;
    border-radius: em($radius6);
    // backdrop-filter: $backdrop-blur;
    // border: 1px solid $colorWhite;
    overflow: hidden;
  }

  &__border {
    position: absolute;

    &--right {
      top: 0;
      bottom: em(12);
      right: 0;
      cursor: w-resize;
      width: em(12);
    }

    &--corner {
      bottom: 0;
      right: 0;
      width: em(12);
      height: em(12);
      cursor: nw-resize;
    }

    &--bottom {
      bottom: 0;
      left: 0;
      right: em(12);
      cursor: n-resize;
      height: em(12);
    }
  }

  &__app {
    width: 100%;
    height: 100%;
    border-radius: em($radius3);
  }
}
