.avatar {
  display: flex;
  align-items: center;
  padding: em(9);
  border: $borderGray;
  border-radius: em(30);

  &__preloader {
    width: em(32);
    height: em(32);
    margin-right: em(10);
    object-fit: cover;
  }

  &__photo {
    border-radius: em(40);
    object-fit: cover;
  }

  &__name {
    color: $colorBlack;
    @include BOLD-18-24;
  }
}
