.info {
  display: flex;
  justify-content: space-between;

  &__category-panel {
    width: em(200);
    height: 100%;
    flex-shrink: 0;
    overflow: hidden;
    padding: em(20);
  }

  &__avatar {
    width: em(160);
    height: em(50);
    margin-bottom: em(34);
  }

  &__navigation {
    margin-left: em(16);
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px 0;
    margin: em(-12) em(40);
    max-width: em(802);
  }

  &__blocks-container {
    max-height: 100%;
  }

  &__text-blocks-container {
    width: em(310);
    flex-shrink: 0;
  }

  &__skills-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: em(12);
  }

  &__skill-block {
    width: em(149);
    height: em(149);

    &:first-child, &:nth-child(2) {
      margin-bottom: em(12);
    }

    &:nth-child(odd) {
      margin-right: em(12);
    }
  }

  &__text-block {
    width: 100%;
    padding: em(16);
  }
}
