.navigation-panel {
  &__link {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $colorBlack;
    transition: color .3s;

    &:before {
      content: "";
      position: absolute;
      left: em(-36);
      background-color: $colorBlack;
      z-index: 5;
      border-radius: 0 em(40) em(40) 0;
      transition: transform 0.2s ease-out, opacity 0.2s ease-out;
      width: 4.125em;
      height: 2.5em;
      transform: translateX(-40px);
      opacity: 0;
    }

    &--active {
      color: $colorWhite;

      &:before {
        transform: translateX(0);
        opacity: 1;
      }
    }

    &:not(:last-child) {
      margin-bottom: em(20);
    }
  }

  &__link-icon {
    position: relative;
    width: em(20);
    height: em(20);
    margin-right: em(20);
    z-index: 10;
  }

  &__link-name {
    position: relative;
    @include MEDIUM-14-18;
    color: $colorBlack;
    z-index: 10;
  }
}
