.skills-content {
  display: flex;

  &__name {
    color: $colorBlack;
    @include BOLD-36-48;
    margin-bottom: em(12, 36);
  }

  &__columns-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
  }

  &__content-column {
    width: 49%;

    &:not(:last-child) {
      margin-right: em(12);
    }
  }

  &__skill-card {
    width: 100%;
    max-width: em(395);
    flex-shrink: 1;

    &:not(:first-child) {
      margin-top: em(12);
    }
  }

}
